

    /*MEDIAQUERIES ADAPTACION TABLETA*/

    /*MEDIAQUERIES ADAPTACION TABLET INDEX*/

@media screen and (max-width: 1200px) and (min-width: 769px){

    body{
        background-color: rgb(214, 214, 231);
        width: 100%;
    }

    header{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 7px;
    }

    .bloqueLogoTitulo{
        height: 180px;
        justify-content: center;
    }

    .bloqueMenu{
        display: flex;
    }

    .menu{
        justify-content: space-evenly;
    }

    .logo{
        display: none;
    }



    /*MEDIAQUERIES INDEX MAIN*/

    .indexMain{
        background-image: none;
    }

    .bloqueUno{
        display: flex;
        flex-direction: column;
        margin: 30px 0px;
        align-content: center;
    }

    .bloqueUno img{
        justify-content: center;
    }

    .parrafoMain{
        display: grid;
        grid-template-rows: auto auto;
        justify-items: center;
        margin: 15px;

    }

    .parrafoMain h3{
        margin: 15px;
        margin-top: 20px;
        font-size: 45px;
    }

    .parrafoMain p{
        font-size: 40px;
    }

    .imgMain{
        width:30%
    }

    .quienesSomos{
        margin: 30px 0px;
    }

    .h2Index{
        width: 40%;
    }

    .redes{
        display: none;
    }

    
    /*MEDIAQUERIES ADAPTACION TABLET INFOTEC*/

    .quienesSomos{
        display: flex;
        flex-direction: column;
        justify-items: center;
        width: 90%;
    }

    .h2InfoTec{
        width: 40%;
    }


    /*MEDIAQUERIES ADAPTACION TABLET MM*/

    .body{
       background-image: linear-gradient(to left,rgb(204, 197, 197),rgb(245, 241, 241));
    }

    .imgBaldozas img{
        width: 60%;
    }

    .subtituloMm{
        width: 90%;
    }

    .imgBaldozas{
        display: flex;
        flex-direction: column;
    }

    .footerMm{
        justify-content: center;
        text-align: center;
    }







}




























