
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: whitesmoke;
    font-family: 'Mulish', sans-serif;
}

/* INDEX.HTML HEADER*/
header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 185px;

    .bloqueLogoTitulo{
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: space-around;
        width: 60%;
        margin: 5px;

        .h1Index{
            display: inline-block;
            width: 45%;
            padding: 10px 15px;
            border: rgb(22, 22, 122) solid 4px;
            border-radius: 50px;
            color: rgb(39, 39, 148);
            font-size: 28px;
        }

        .bloqueLogo{
            width: 25%;
            max-width: 246px;
            min-width: 200px;

            .logo{
                width: 75%;
            }
        }
    }

    .bloqueMenu{
        display: inline-block;
        padding: 5px;
        text-align: center;

        .menu{
            padding:0;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;

            li a{
                display: inline-block;
                margin: 20px;
                padding: 15px;
                border: rgb(16, 16, 121) solid 3px;
                border-radius: 60px;
                text-decoration: none;
                font-size: 18px;
                color:black;
                text-align: center;   

                &:hover{
                    background-color: rgb(224, 224, 255);
                }
            }

            .inicio{
               @extend %color-boton;
            }
            
            .productos{
                @extend %color-boton;
            }

            .infoTec{
                @extend %color-boton;
            }

            .mYm{
                @extend %color-boton;
            }

            .contacto{
                @extend %color-boton;
            }
        } 
    }

}